<app-student-table></app-student-table>

<!-- <div *ngFor="let student of students" class="row">
    <div class="panel panel-primary col-md-offset-2 col-md-6 col-sm-offset-1 col-sm-8">
        <div class="panel-heading">
            <h2 class="panel-title">{{student.studentId }}</h2>
        </div>
        <div class="panel-body row">
            <div class="col-md-6 col-sm-6">
                <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p>
                <p *ngIf="student.gpa > 2.5">Good Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                <p *ngIf="student.gpa <= 2.5">Bad Student who get grade {{student.gpa | number:'1.2-2'}}</p>
                <div class="row">
                    <div class="col-sm-offset-1 ">
                        <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>
                        <input type="text" class="col-md-1" />
                        <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" [src]="student.image" [title]="student.name">
            </div>
        </div>
    </div>
</div>

<div class="alert alert-success col-md-offset-2 col-md-6"> The average gpa is {{averageGpa()|number:'1.2-2'}} </div> -->




<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{student.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <p class="student-name"> {{student. name | uppercase}} {{student.surname}}</p>
        </ng-container>

        <ng-container matColumnDef="gpa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
            <td mat-cell *matCellDef="let row">{{student.gpa}}</td>
        </ng-container>

        <ng-container matColumnDef="penAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pen amount</th>
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="downQuantity(student)">-</button>
            <input type="text" class="col-md-1" />
            <button type="button" class="btn btn-primary btn-xs col-md-1" (click)="upQuantity(student)">+</button>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
            <img class="img-responsive" [src]="student.image" [title]="student.name">
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator> -->



<!-- <div class="alert alert-success col-md-offset-2 col-md-6"> The average gpa is {{averageGpa()|number:'1.2-2'}} </div> -->